*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header{
	position:relative;
	display:flex;
	width:100%;
	height:100%;
	justify-content:space-between;
	align-items:center;
	color:white;
}
header h3{
	font-family:Matura MT Script Capitals;
	font-size:45px;
	margin:25px 25px;
	color:white;
}
header nav{
	display:flex;
	
}
header nav li{
	float:right;
	padding:5px 10px;
	margin:10px 5px;
	text-align:center;
	list-style:none;
	border-radius:10px;
	font-family:Rockwell;
	
}
header nav li:hover{
	background-color:white;
	opacity:0.5;
	z-index:-9;
	
}
header nav b:hover{
	z-index:1;
	color:black;
	font-size:15px;
	text-transform:uppercase;
	font-family:Britannic Bold;;
}
header a{
	text-decoration:none;
	color:white;
}
header img{
	background-size:cover;
	width:100%;
	height:1300px;
	position:fixed;
	z-index:-10;
}
section{
	position:relative;
	width:100%;
	display:inline-block;
	color:black;
	font-family:Rockwell;
	
}
ul, li{
	list-style:none;
}

@media(max-width:700px){
	header{
		flex-direction:column;
	}
	header h3{
		font-size:35px;
		text-align:center;
	}
	header nav{
		width:100%;
	}
	header nav li{
		float:inherit;
		display:inline-block;
		margin:5px 3px;
		padding:6px 2px;
	}
	header nav ul{
		text-align:center;
	}
}
section{
	background-color:white;
	opacity:0.9;
	border-radius:7px;
	width:95%;
	margin:10px 20px;
	padding:20px 20px;
	text-align:justify;
	padding:10px 20px;
	display:block;
}
section div{
	flex-direction:column;
	justify-content:space-between;
	padding:10px 10px;
	margin:80px 0;
}

section img{
	width:300px;
	height:300px;
	float:left;
	margin-left:10px;
	margin-right:40px;
}
section .dere{
	width:300px;
	height:300px;
	float:right;
	margin-left:40px;
	margin-right:10px;
}
@media(max-width:700px){
	section{
		width:90%;
		margin:10px 15px;
	}
	section img{
		width:180px;
		height:180px;
		text-align:center;
	}
	section .dere{
		width:180px;
		height:180px;
		text-align:center;
	}
x
	
}
footer{
	width:100%;
	position:relative;
}
footer img{
	z-index:-5;
	position:absolute;
	background-size:cover;
	width:100%;
	height:200px;
	opacity:0.4;
}
footer div{
	padding-top:50px;
	text-align:center;
	z-index:5;
	font-size:17px;
	color:white;
	font-family:MV Boli;
}