*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header{
	position:relative;
	display:flex;
	width:100%;
	height:100%;
	justify-content:space-between;
	align-items:center;
	color:white;
}
header h3{
	font-family:Matura MT Script Capitals;
	font-size:45px;
	margin:25px 25px;
}
header nav{
	display:flex;
	
}
header nav li{
	float:right;
	padding:5px 10px;
	margin:10px 5px;
	text-align:center;
	list-style:none;
	border-radius:10px;
	font-family:Rockwell;
	
}
header nav li:hover{
	background-color:white;
	opacity:0.5;
	z-index:-9;
	
}
header nav b:hover{
	z-index:1;
	color:black;
	font-size:15px;
	text-transform:uppercase;
	font-family:Britannic Bold;;
}
header a{
	text-decoration:none;
	color:white;
}
header img{
	background-size:cover;
	width:100%;
	height:1300px;
	position:fixed;
	z-index:-10;
}
section{
	position:relative;
	width:100%;
	display:inline-block;
}
@media(max-width:700px){
	header{
		flex-direction:column;
	}
	header h3{
		font-size:35px;
		text-align:center;
	}
	header nav{
		width:100%;
	}
	header nav li{
		float:inherit;
		display:inline-block;
		margin:5px 3px;
		padding:6px 2px;
	}
	header nav ul{
		text-align:center;
	}
}
section img{
	border-radius:5px;
}
.uno{
	background-color:white;
	z-index:-9;
	border-radius:8px;
	margin:10px 10px;
	width:96%;
	opacity:0.8;
	flex-direction:column;
}
.uno p{
	z-index:2;
	color:black;
	padding:20px 20px;
	text-align:center;
	font-size:20px;
}
.uno h3{
	font-size:25px;
	text-align:center;
	padding-top:18px;
	font-family:Cooper Black;
}
.uno li{
	list-style:none;
	
}
.large{
	width:250px;
	height:350px;
}
.short{
	width:350px;
	height:250px;
}
.uno li{
	display:inline-block;
}
.uno ul{
	margin:30px;
	text-align:center;
}
.dos{
	position:relative;
	flex-direction:column;
	z-index:-9;
	width:96%;
	color:white;
	border-radius:8px;	
	margin:10px 10px;
}
.dos ul{
	justify-content:space-between;
	display:flex;
	padding:10px 10px;
	text-align:center;
	width:100%;
	
}
.dos li{
	color:white;
	list-style:none;
	padding:0 5px;
	flex-basis:33%;
	text-align:center;
}
.dos p{
	z-index:3;
	color:white;
	line-height:18px;
	font-family:Lao UI;
}
.gif{
	width:100px;
	height:100px;
}
@media(max-width:700px){
	.large{
		width:200px;
		height:300px;
	}
	.short{
		width:300px;
		height:200px;
	}
	.dos ul{
		flex-direction:column;
	}
	.dos li{
		
		padding:10px 10px;
		width:90%;
		text-align:center;
	}
}
footer{
	width:100%;
	position:relative;
	color:white;
	text-align:center;
}
footer img{
	position:absolute;
	background-size:cover;
	width:100%;
	height:200px;
	opacity:0.4;
}
footer p{
	z-index:5;
	font-size:19px;
	font-family:Arial;
}